*{
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
 }
 .main{
  width: 100%;
  height: 768px;
  background-image:url(cover.jpg);
  background-size:cover;
  background-position:center;
} 
.navber{
width: 100%;
height: 60px;
background-color: #363940;
display: flex;
justify-content: space-around;
align-items: center;
}
ul li{
  list-style:none;
  display: inline;
  margin: 10px;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;

}
 ul li a{
  text-decoration: none;
  color:#676D75;
  text-transform: uppercase;
  
}
ul li a:hover{
  color: white;

}
.logo{
  padding-right: 100px;
}
 h1{
  font-size: 45px;
  color: aliceblue;
  text-align: center;

}  
p{
  font-size: 20px;
  color: azure;
  text-align: center;
  padding-bottom: 40px;
  margin:20px

}
.btn{
 width: 130px;
 height: 40px;
 justify-items: center;
 justify-content: center;
 border-style: solid;
 border-color:whitesmoke;
 text-align: center;
 position: relative;
 background-color: transparent;
 letter-spacing: 1.5px;
 color: aliceblue;
 font-family: 'Gill Sans',;
 cursor: pointer;

}
.button{
  margin: 0%;
  padding: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 12px 24px;
  display: flex;
  padding-bottom: 20px;
}
.main2{
  margin: 0;
  padding: 83px;
}
 .btn:hover{
background-color:white;
color: black;
 }
 .h2{
  
  font-size: 30px; ;
  font-weight:bold;
  text-align: center;
text-transform: uppercase;
margin: auto;
padding: 20px;
}
.im{
  text-align: center;
}
.p2{
  color:#676D75;
  font-size: 15px;
  letter-spacing: 2.5px;
}
.p3{ color: #676D75;
font-size: 16px;
}

.thrdpart{
  display: grid;
  grid-template-columns: auto auto auto auto;

 }
 .rony{
  width: 100%;
  height: 200px;
  background-color: brown;
}
.fivepart{
width: 100%;
height: 242px;
background-color: #676D75;
grid-template-columns: auto auto;
}

.box1 i button{
  color: black;
}
 .savenpart{
  margin: 0%;
  padding: 0%;
  background-image:url(last.jpg);
  width: auto;
  height: 400px; 
  background-position: center;
  background-size: cover;
 color: black;
 background-attachment: fixed;

 } 

.p5{ color: black;
font-size: 16px;
}
.savenpart h2{
color: brown;
}
.p5{
color: aquamarine;
}  
.eight h2{
  color: chartreuse;
}
.eight p{
  color: #A8A9AC;
}
.eight ul li :hover{
  background-color: black;
}


/*  */
.savenpart::before {

  background: #000;
  height: 100%;
  width: 100%;
  display: block;
  opacity: 0.8;
}
/*  */
.imag{
  

   
    position: absolute;
    display:grid;
    margin: 10px auto;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3px;
   align-items: center;

  
}

img.box1{
  height: 350px;
  width: 300px;
padding: 10px;
}
img.box2{
  height: 350px;
  width: 300px;
  padding: 10px;
}
img.box3{
  height: 350px;
  width: 300px;
  padding: 10px;
}
img.box4{
  height: 350px;
  width: 300px;
  padding: 10px;
}
img.box5{
  height: 350px;
  width: 300px;
  padding: 10px;
}
img.box6{
  height: 350px;
  width: 300px;
  padding: 10px;
}
img.box7{
  height: 350px;
  width: 300px;
  padding: 10px;
}
img.box8{
  height: 350px;
  width: 300px;
  padding: 10px;
}
img.box9{
  height: 350px;
  width: 300px;
}